#container1 {
  text-align: center;
  background-color: #AB95F9;
  color: white;
}
#container2 {
  text-align: center;
  background-color: #FFF9E6;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#title1 {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 40px;
}

#title2 {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
}
#title3 {

  font-size: 15px;
}

#container a {
  text-decoration: none;
}

.line {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  border-top-style: solid;
  height: 10px;
  text-align: left;
  //align-self: center;
  border-top-width: 0.5px;
}

ion-button {
  --background: white;
  --background-hover: #white;
  --background-activated: #white;
  --background-focused: #white;

  --color: #896AF9;

  --border-radius: 10px;
  --border-color: #896AF9;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 3px 3px #896AF9;

  --padding-top: 10px;
  --padding-bottom: 10px;
  text-transform: none;
}